@import "tailwindcss";

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
  }
}

body {
  background-color: #030712;
  color: var(--color-slate-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
